# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data cache (large files)
data/nyc_taxi/cache/*.parquet

# Models (large binary files)
models/*.pkl
models/**/*.pkl

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
*.zip
